@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');


* {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: 300;
    letter-spacing: 3px;

}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    color: #ffffff;
    background: url("../images/hero.jpg") no-repeat center center;
}

h2,
h3 {
    letter-spacing: 3px;
    margin: 1%;
    font-size: 130%;
    text-align: left;


}

.logo {
    text-decoration: none;

    letter-spacing: 3px;
}

#logo {
    font-size: 300%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}


/* Start game */


#start-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    height: 100%;

}

#start-container p {
    font-size: 130%;
}



/* All buttons */

.button {
    border: solid #fff;
    color: #fff;
    font-size: 110%;
    cursor: pointer;
    background: transparent;
    border-radius: 20px;
    padding: 2%;
    letter-spacing: 3px;
    margin: 1%;
    
}

/* Name area */

#name-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#name-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#name-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* name input and answer input 
#username {}

#username-label {}


#name-button {} */

/*name label and quiz label*/
.labels {
    font-size: 150%;
    letter-spacing: 3px;
    margin-top: 1%;
}

.input {
    width: 90%;
    height: 10%;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.input:focus {
    border: 3px solid #fff;
    background-color: transparent;
}


/* Quiz outer */

#flag-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

#flag-section h2 {
    text-align: center;
    font-size: 100%;
}

#quiz-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;

}

#flag-image {
    height: 30vh;
    width: 30vw;
}

/* #question-area {} */

#user-answer {
    padding: 1%;

}

/* #submit-button {} */


/* summary section */

#summary-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;

}

#summary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 5%;
}


#name-display {
    width: 100%;
    
    font-size: 100%;
}

#result {
    font-size: 150%;
    width: 100%;
}

.summary-score {
    margin: 5% 0;
    border-bottom: 2px solid #fff;

}



/* footer */

#footer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    font-size: 150%;
    height: 100px;
    width: 50%;
    margin-top: 5%;
}


/* for devices 768px wide and wider */
@media screen and (max-width: 992px) {

    h2,
    h3 {
        letter-spacing: 2px;
        font-size: 95%;
    }

    #start-outer {

        width: 75%;
        height: 40vh;

    }

    #name-outer {

        width: 75%;
        height: 40vh;
    }



    #quiz-outer {

        width: 75%;
        height: 40vh;

    }

    #quiz-container {
        font-size: 100%;
        height: 100%;
        justify-content: space-evenly;
    }

    #start-container p {
        font-size: unset;
    }

    #flag-image {
        height: 15vh;
        width: 40vw;
    }

    #summary-outer {
        width: 75%;
        height: 40vh;

    }

    #summary-container {
        font-size: 90%;
    }

    #summary-container h3 {
        font-size: 150%;
    }

    #name-display {
     
    }

    #result {
        width: 100%;
        font-size: 150%;
    }

    .button {
        padding: 3%;
    }



}

/* for devices 600px wide and smaller */

@media screen and (max-width: 600px) {

    h2,
    h3 {
        letter-spacing: 2px;
        font-size: 95%;
    }

    #logo {
        font-size: 200%;
        margin-bottom: 2%;
    }

    #start-outer {
        height: 65vh;
        width: 65%;
        opacity: 0.95;
        font-size: 80%;
        padding: 2%;
    }

    #start-container {
        padding: 20% 5%;

    }

    #start-container p {
        letter-spacing: 2px;
        font-size: 100%;

    }

    .labels {
        font-size: 90%;
        text-align: center;
        letter-spacing: 1px;
    }

    .button {
        padding: 5%;
        margin-top: 15%;
        font-size: 80%;
    }

    #name-outer {
        height: 65vh;
        width: 65%;
    }

    #question-area {
        font-size: 80%;
        font-weight: 300;
        letter-spacing: 0px;
        padding: 15% 10%;
        text-align: center;
    }

    #quiz-outer {
        height: 65vh;
        width: 65%;
    }

    #points {
       
        margin-top: 3%;
    }

    #flag-image {
        max-height: 15vh;
        width: 70%;
        margin-bottom: 15%;
    }

    #summary-outer {
        height: 65vh;
        width: 65%;
    }

    #summary-container {
        justify-content: space-evenly;
    }

    #name-display {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 90%;
    }

    #result {
        font-size: 100%;
        width: 100%;
    }
}