@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');


* {
    color: #ffffff;
    font-family: 'Playfair Display SC', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: lighter;

}

body {
    font-family: 'Playfair Display SC', serif;
    overflow-x: hidden;
    color: #ffffff;
    background: url("../images/hero.jpg") no-repeat center center;
}

h2,
h3 {
    letter-spacing: 3px;
    margin: 1%;
    font-size: 130%;
    text-align: left;

}

.logo {
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 3px;
}

#logo {
    font-size: 300%;
    margin-left: 2%;
    margin-top: 1%;
}


/* Start game */


#start-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    height: 100%;

}

#start-container p{
    font-size: 130%;
}



/* All buttons */

.button {
    border: solid #fff;
    color: #fff;
    font-size: 110%;
    cursor: pointer;
    background: transparent;
    border-radius: 20px;
    padding: 1%;
    letter-spacing: 3px;
    margin: 1%;
}

/* Name area */

#name-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#name-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#name-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* name input and answer input 
#username {}

#username-label {}


#name-button {} */

/*name label and quiz label*/
.labels {
    font-size: 150%;
    letter-spacing: 3px;
}

.input {
    width: 90%;
    height: 10%;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.input:focus {
    border: 3px solid #fff;
    background-color: transparent;
}


/* Quiz outer */

#flag-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

#flag-section h2 {
    text-align: center;
    font-size: 100%;
}

#quiz-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 1%;
    
}

#flag-image {
    height: 30vh;
    width: 30vw;
}

/* #question-area {} */

#user-answer {
    padding: 1%;
    
}

/* #submit-button {} */


/* summary section */

#summary-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary-outer {
    border: 2px solid rgb(29, 29, 213);
    background: rgb(2 3 38);
    border-radius: 50px;
    width: 55%;
    height: 70vh;
    opacity: 0.95;

}

#summary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

/* #name-display {} */


.scores {
    border-bottom: 2px solid #fff;
    margin: 5% 0;
    width: 100%;
}


/* footer */

#footer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    font-size: 150%;
    height: 100px;
    width: 50%;
    margin-top: 5%;
}

/* #points{
    
} */