@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    color: #0e2305;
    font-family: 'Playfair Display SC', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: lighter;

}

body {
    font-family: 'Playfair Display SC', serif;
    overflow-x: hidden;
    color: #0e2305;
    background: rgb(31, 184, 80);
    background: linear-gradient(0deg, rgba(31, 184, 80, 1) 0%, rgba(83, 252, 138, 1) 24%, rgba(65, 229, 224, 1) 50%, rgba(51, 87, 97, 1) 81%, rgba(3, 48, 60, 1) 100%);
}

h2,
h3 {
    letter-spacing: 3px;
    margin: 1%;
    font-size: 130%;
    text-align: left;

}

.logo {
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 3px;
}

#logo {
    font-size: 300%;
    margin-left: 2%;
    margin-top: 1%;
}

#logo:hover {
    color: aqua;
}

/* Hero area */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

#hero-image {
    background: url("../images/hero.png") no-repeat;
    width: 50%;
    height: 700px;

}

#hero-text {
    text-align: right;
    width: 35%;
    position: relative;
    bottom: 15%;
}

/* hero button*/
#start-quiz {}

/* All buttons */

.button {
    width: auto;
    border: solid #0e2305;
    color: #0e2305;
    font-size: 110%;
    cursor: pointer;
    background: transparent;
    border-radius: 50px;
    padding: 2%;
    letter-spacing: 3px;
}

/* Name area */

#name-outer {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enter-name {
    height: 50%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* name input and answer input */


/*name label and quiz label*/
.labels {
    font-size: 150%;
    margin: 2% 0;
    letter-spacing: 3px;
}

.input {
    width: 100%;
    margin-bottom: 5%;
    height: 10%;
    border-bottom: 2px solid #0e2305;
    background-color: transparent;
}

.input:focus {
    border: 3px solid #0e2305;
}

#username {}

#username-label {}


#name-button {}

#name-display {}

/*score display area*/
#score-display {
    font-size: 80%;
    letter-spacing: 3px;
    width: 25%;
    height: 20%;
    position: absolute;
}

/* Quiz outer */

#flag-quiz {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flag-quiz h2 {
    text-align: center;
    font-size: 100%;
}

#quiz-outer {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 100%;
    margin-top: 3%;
}

#quiz-container {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

#question-area {}

#flag-image {
    width: 70%;
    height: 35vh;
    margin-top: 5%;
}


#user-answer {
    padding: 1%;
}

#submit-button {}

#name-display {}

#score-container {}

#flag-result {}

.scores {
    border-bottom: 2px solid #0e2305;
    margin: 5% 0;
}

#correct {}

#incorrect {}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    font-size: 150%;
    height: 100px;
    width: 50%;
    margin-top: 5%;
}

/* For screens 1200px wide and wider */
@media screen and (min-width: 1200px) {}

/* For screens 992px wide and wider */
@media screen and (min-width: 1200px) {}

/* For screens 768px wide and wider */
@media screen and (min-width: 768px) {}

/* For screens 600px wide and wider */
@media screen and (min-width: 600px) {}

@media screen and (max-width: 600px) {

    h2,
    h3 {
        font-size: 100%;
        letter-spacing: 2px;
    }

    #logo {
        font-size: 150%;
        margin-left: 1%;
        margin-top: unset;
    }

    .logo {
        letter-spacing: 2px;
    }

    #hero-image {
        background: url("../images/hero-small.png") no-repeat;
        width: 100%;
        height: 300px;

    }

    #hero-outer {
        justify-content: unset;
        height: auto;
    }

    #hero-text {
        width: 75%;
        top: 1%;
        left: 2%;
        text-align: unset;
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
    }

    .button {
        padding: 3%;
        letter-spacing: 2px;
        font-size: 65%;
        margin-top: 5%;
    }

    .labels {
        font-size: 80%;
        letter-spacing: 2px;
    }

    .input {
        width: 80%;
    }

    /* Name section */

    #name-outer {
        height: 50vh;
        text-align: center;
    }

    #enter-name {
        width: 100%;
        height: unset;

        display: unset;
        flex-direction: unset;
        align-items: unset;
    }


    /* Quiz section */
    #flag-quiz {
        height: 70vh;
        justify-content: unset;
    }

    #flag-quiz h2 {
        font-size: 100%;
        margin-bottom: 5%;
        font-weight: lighter;
    }

    #score-display {
        letter-spacing: 2px;
        width: 100%;
        position: unset;
        margin-bottom: 5%;

    }

    #name-display{
        font-size: 150%;
    }

    #flag-image {
        width: 70%;
        height: 20vh;
        margin-top: 3%;
    }

    #question-area {
        margin-top: 3%;
        text-align: center;
        font-size: 80%;
    }

    #quiz-outer {
        width: 100%;
        display: unset;

        align-items: unset;
        font-size: 100%;
        margin-top: unset;
    }

    #quiz-container {
        width: 100%;
    }

    #score-container {
        margin-top: 5%;
    }

    .scores {
        margin: unset;
    }

    #user-answer {
        padding: unset;
    }

}